@import "variables";
@import "carrousel-projeto";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: $whitecolor;
  font-family: cocogoose;
  /* max-width: 1440px */
}

body {
  height: 100vh;
  background-attachment: fixed;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    155deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(23, 10, 0, 1) 100%
  );
  overflow-x: hidden;
}
header {

  width: 100vw;
  height: 80px;
  padding: 20px 20px 20px 60px;
  background-color: #000;
}

main {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

@media (min-width: 1024px) {

  .container-infos{
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;

    h1{
      font-size: 20pt;
    }
    h2{
      font-size: 14pt;
      padding: 20px;
    }
    .descricao, .detalhes-tecnicos, .design, .datas, .detalhes-tecnicos, .links{
      font-family: gillSansLight;
      font-size: 12pt;
    }
  }

  .container-photos{
    width: 50%;
    background-color: red;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 100px) and (max-width: 767px) {
}
