@charset "UTF-8";
@font-face {
  font-family: caviarDreams;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: cocogoose;
  src: url(../fonts/Cocogoose-Pro-Thin-trial.ttf);
}
@font-face {
  font-family: helloHoney;
  src: url(../fonts/hello-honey.otf);
}
@font-face {
  font-family: attentic;
  src: url(../fonts/Attentica-4F-UltraLight.otf);
}
@font-face {
  font-family: nameSmille;
  src: url(../fonts/Name-Smile.otf);
}
@font-face {
  font-family: gillSans;
  src: url(../fonts/Gill-Sans.otf);
}
@keyframes slide {
  from {
    top: 0;
  }
  to {
    top: -265px;
  }
}
@keyframes typing {
  0% {
    width: 0px;
  }
  50% {
    width: 600px;
  }
  100% {
    width: 0px;
  }
}
.cardsEscolaridade1,
.cardsEscolaridade2,
.cardsEscolaridade3 {
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 5s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

#card1:checked ~ .flip-container1 .card-flipper {
  transform: rotateY(180deg);
}

#card2:checked ~ .flip-container2 .card-flipper {
  transform: rotateY(180deg);
}

#card3:checked ~ .flip-container3 .card-flipper {
  transform: rotateY(180deg);
}

.switch {
  display: none;
}

.card-escolaridade {
  border: 6px solid #3c3c3c;
  border-radius: 20px;
  width: 237px;
  max-width: 237px;
  height: 332px;
  will-change: transform;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  width: 237px;
  height: 332px;
  perspective: 1000px;
  grid-column-start: 2;
  grid-column-end: 5;
}

.flip-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  width: 237px;
  height: 332px;
  perspective: 1000px;
  grid-column-start: 6;
  grid-column-end: 9;
}

.flip-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  width: 237px;
  height: 332px;
  perspective: 1000px;
  grid-column-start: 10;
  grid-column-end: 13;
}

.front {
  perspective: 500px;
}

.fundo-curso {
  background: url("../imagens/fundo-card-cursos.png ");
  background-size: cover;
  background-repeat: no-repeat;
  width: 237px;
  max-width: 237px;
  height: 332px;
  transform-style: preserve-3d;
}

.fundo-tecnica {
  background: url("../imagens/fundo-card-etec.png ");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-escolaridade:hover {
  transform: translate(10px) rotateX(0deg) rotateY(30deg);
}

.card-title {
  font-family: attentic;
  font-size: 24pt;
  color: #f7faff;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-30deg);
  transition: transform 0.5s;
}

.card-escolaridade:hover .card-title {
  transform: translateZ(50px);
  margin-left: 10px;
}

.card-escolaridade p {
  font-family: gillSans;
  font-size: 12pt;
  color: #f7faff;
  margin: 15px;
}

.page-oquefaco {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.page-oquefaco {
  margin-top: 0px;
  height: 638px;
  width: 100%;
  background: rgb(75, 75, 74);
  background: linear-gradient(173deg, rgb(75, 75, 74) 41%, rgb(252, 252, 253) 96%);
}

.titulo-oquefaco {
  margin-top: 60px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.titulo-oquefaco h2 {
  color: #ffa815;
  font-size: 24pt;
  font-family: cocogoose;
}

.card-vivencia {
  width: 320px;
  height: 410px;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  backface-visibility: hidden;
  margin-top: 150px;
}

.prog {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
}

.design {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
}

.hobs {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
}

.card-vivencia:hover {
  transform: scale(0.9);
}

.card-vivencia:hover:after {
  height: 280px;
}

.card-vivencia:hover .cont-text p {
  margin-bottom: 0px;
  opacity: 1;
}

.card-vivencia:hover img {
  transform: scale(1.25);
}

.card-vivencia:after {
  width: 100%;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  z-index: 20;
  transition: all 0.25 ease;
}

.card-vivencia img {
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.25s ease;
}

.card-vivencia .cont-text {
  font-family: caviarDreams;
  z-index: 30;
  position: absolute;
  bottom: 0;
  color: #f7faff;
  padding: 20px;
  padding-bottom: 30px;
}

.card-vivencia .cont-text p {
  font-size: 11pt;
  opacity: 0;
  margin-bottom: -340px;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.card-vivencia .cont-text h2 {
  font-family: gillSans;
  font-size: 37pt;
  margin-bottom: 200px;
}

.card-vivencia .cont-text p button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #f7faff;
  color: #f7faff;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: caviarDreams;
  font-size: 0.75rem;
  outline: none;
}

.card-vivencia .cont-text p button:hover {
  background: #fff;
  color: #000;
}

.page-hobs {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.page-hobs {
  margin-top: 0px;
  height: 638px;
  width: 100%;
  background: rgb(200, 200, 200);
  background: linear-gradient(167deg, rgb(200, 200, 200) 0%, rgb(247, 250, 255) 28%, rgb(247, 250, 255) 98%);
  border-radius: 0px 0px 150px 150px;
}

.titulo-hobs {
  margin-top: 60px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.titulo-hobs h2 {
  color: #ffa815;
  font-size: 24pt;
  font-family: cocogoose;
}

#carousel-wrapper {
  max-height: 638px;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#carousel-wrapper #menu {
  height: 380px;
  width: 720px;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* vertical-align: middle; */
  transition: all 0.6s ease-in-out;
}
#carousel-wrapper #menu #current-option {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-25%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#carousel-wrapper #menu #current-option #current-option-text1 {
  font-family: caviarDreams;
  font-size: 1.6rem;
  line-height: 3rem;
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#carousel-wrapper #menu #current-option #current-option-text1::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#carousel-wrapper #menu #current-option #current-option-text1::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#carousel-wrapper #menu #current-option #current-option-text2 {
  font-family: caviarDreams;
  font-size: 0.8rem;
  width: 220px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#carousel-wrapper #menu #current-option #current-option-text2::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#carousel-wrapper #menu #current-option #current-option-text2::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#carousel-wrapper #menu #previous-option {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  transform: translate(310px, 50px);
}
#carousel-wrapper #menu #next-option {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  display: block;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  transform: translate(310px, -50px) rotate(180deg);
}
#carousel-wrapper #image {
  height: 240px;
  width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
  position: absolute;
  transform: translate(140px, 0);
}
#carousel-wrapper.anim-next {
  pointer-events: none;
}
#carousel-wrapper.anim-next #current-option-text1 {
  animation: next-text 0.65s 0.085s;
}
#carousel-wrapper.anim-next #current-option-text2 {
  animation: next-text 0.65s 0.085s;
}
#carousel-wrapper.anim-next #previous-option {
  animation: next-top-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-next #next-option {
  animation: next-bottom-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-next #image {
  animation: next-image 0.65s 0.085s;
}
#carousel-wrapper.anim-previous {
  pointer-events: none;
}
#carousel-wrapper.anim-previous #current-option-text1 {
  animation: previous-text 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #current-option-text2 {
  animation: previous-text 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #previous-option {
  animation: previous-top-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #next-option {
  animation: previous-bottom-arrow 0.65s 0.085s;
}
#carousel-wrapper.anim-previous #image {
  animation: previous-image 0.65s 0.085s;
}

@keyframes previous-text {
  50%, 55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}
@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}
@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}
@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
@keyframes next-text {
  50%, 55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}
@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}
@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}
@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* max-width: 1440px */
}

body {
  background: rgb(51, 51, 51);
  background: linear-gradient(8deg, rgb(51, 51, 51) 39%, rgb(5, 5, 5) 100%);
  overflow-x: hidden;
}

.container-grid {
  display: grid;
  max-width: 1440px;
  max-height: 1024px;
  grid-template-columns: repeat(12, 70px);
  column-gap: 32px;
  justify-content: center;
  background-color: transparent;
  height: 1024px;
}

.tree-rows {
  grid-template-rows: 319px 275px auto;
}

.two-rows {
  grid-template-rows: 480px auto;
}

.page-top {
  display: flex;
  justify-content: center;
  background: rgb(82, 82, 82);
  background: linear-gradient(135deg, rgb(82, 82, 82) 45%, rgb(5, 5, 5) 100%);
  background-image: url("../imagens/herotop.jpg");
  background-position: center;
  /* background-size: 1397px 795px; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 795px;
}

.hero {
  display: grid;
  max-width: 1440px;
  max-height: 1024px;
  grid-template-columns: repeat(12, 70px);
  column-gap: 32px;
  justify-content: center;
  background-color: transparent;
  height: 1024px;
  grid-template-rows: 0.3fr;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 14;
  max-height: 795px;
}

.hero h1 {
  font-family: CaviarDreams;
  font-size: 27pt;
  color: white;
  margin-top: 2rem;
  padding-bottom: 20px;
  grid-column-start: 1;
  grid-column-end: 14;
}

.hero h1 i {
  font-style: normal;
  padding-bottom: 20px;
  border-bottom: 2px solid #ffa815;
}

/* frase de saudação */
/* posição */
.hero h2 {
  grid-column-start: 2;
  grid-column-end: 14;
  grid-row-start: 2;
  height: 20px;
}

.hero .eu-sou {
  grid-column-start: 3;
  grid-column-end: 14;
  grid-row-start: 2;
  margin-top: 10%;
  display: flex;
  align-items: flex-start;
}

.hero h2 {
  font-size: 62pt;
  color: #f7faff;
  font-family: attentic;
  letter-spacing: 5pt;
  font-weight: lighter;
}

.hero h2 i {
  font-style: normal;
  color: #ffa815;
}

.dynamic-txts li {
  font-family: nameSmille;
  list-style: none;
  color: #ffa815;
  font-size: 42pt;
  position: relative;
  top: 0;
  animation: slide 15s steps(3) infinite;
}

.dynamic-txts {
  margin-left: 15px;
  height: 70px;
  line-height: 90px;
  overflow: hidden;
  animation: typing 5s steps(24) infinite;
  border-right: 2px solid #ffa815;
}

.page-infos {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.page-infos {
  background: rgb(41, 41, 41);
  background: linear-gradient(7deg, rgb(41, 41, 41) 19%, rgb(7, 7, 7) 100%);
  height: 638px;
  width: 100%;
}

.story-photo {
  display: grid;
  max-width: 1440px;
  max-height: 1024px;
  grid-template-columns: repeat(12, 70px);
  column-gap: 32px;
  justify-content: center;
  background-color: transparent;
  height: 1024px;
  grid-template-rows: 0.3fr;
  grid-column-start: 1;
  grid-column-end: 14;
  max-height: 795px;
  height: 336px;
}

.story-photo .abertura,
.fechamento {
  font-family: helloHoney;
  font-size: 42pt;
  color: #525252;
  margin-top: 40px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.aberturastyle {
  font-family: helloHoney;
  font-size: 42pt;
  color: #525252;
  margin-top: 30px;
}

.fechamentostyle {
  font-family: helloHoney;
  font-size: 42pt;
  color: #525252;
  grid-row-start: 2;
}

.story-photo .aspas {
  font-family: gillSans;
  font-size: 59pt;
  color: #f5bd0e;
}

.citacao {
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: gillSans;
  margin-top: -55px;
  font-size: 14pt;
  color: #f7faff;
}

.story-photo h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 10px;
  font-size: 24pt;
  color: #525252;
  font-family: attentic;
}

.fechamento {
  margin-top: -70px;
  grid-column-start: 4;
}

.foto {
  grid-column-start: 5;
  grid-column-end: 9;
  height: 380px;
  margin-top: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  border: 3px solid #ffa815;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.sobre-eu {
  grid-column-start: 10;
  grid-column-end: 13;
  margin-top: -350px;
  width: auto;
}

.sobre-eu b {
  font-size: 42pt;
  font-family: gillSans;
  color: #ffa815;
  font-weight: 450;
}

.sobre-eu p {
  color: #f7faff;
  text-align: left;
  font-size: 12pt;
  font-family: caviarDreams;
}

.transicao {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  margin: 0;
}

.transicao ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.page-schools {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.page-schools {
  margin-top: 0px;
  height: 638px;
  width: 100%;
  background: rgb(51, 51, 51);
  background: linear-gradient(180deg, rgb(51, 51, 51) 42%, rgb(75, 74, 74) 100%);
}

.container-grid .fechamentostyle {
  margin-top: 50px;
}

.fundo-topo {
  margin-top: 60px;
}

.fundo-topo h2 {
  color: #ffa815;
  font-size: 24pt;
  font-family: cocogoose;
}

/*# sourceMappingURL=style.css.map */
